html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #151618;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
  /* font-family: "Cormorant", serif; */
}

/*    ----------------------------section headder----------------------- */

.headder__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
  padding: 30px 0;
}

.logo {
  margin-bottom: 35px;
}

.menu--shadow {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: background-color 0.5s ease;
}

.menu--shadow.menu--open {
  display: block;
}

.menu__btn {
  display: none;
  width: 40px;
  height: 18px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.mobile-nav,
.menu__close {
  display: none;
}

.menu__btn span {
  background-color: #000;
  height: 2px;
  width: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
  font-weight: 400;
  font-size: 18px;
  margin-left: 85px;
  position: relative;
  z-index: 3;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__item-search {
  margin-left: 80px;
}

/*    ----------------------------section top----------------------- */

.top {
  background-image: url(../images/top-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.top__inner {
  min-height: 500px;
  font-family: "Cormorant", serif;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top__title {
  max-width: 780px;
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 20px;
}

.top__text {
  max-width: 560px;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 48px;
}

/*    ----------------------------section blockquote----------------------- */

.blockquote__text {
  text-align: center;
  font-family: "Cormorant", serif;
  font-weight: 300;
  font-size: 40px;
  line-height: normal;
  max-width: 704px;
  margin: 150px auto;
}

/*    ----------------------------section assortment----------------------- */

.assortment {
  margin-bottom: 150px;
}

.assortment__title {
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
  text-align: center;
}

.assortment__list {
  text-align: center;
  display: flex;
  gap: 0px 40px;
}

.assortment__img {
  max-width: 208px;
  max-height: 208px;
  width: 100%;
}

.assortment__name {
  padding-top: 10px;
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

/*    ----------------------------section reviews----------------------- */
.reviews {
  margin-bottom: 150px;
  padding: 60px 0px;
  background-color: #f7f2ea;
}

.reviews__title {
  margin-bottom: 60px;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.reviews__list {
  display: flex;
  justify-content: center;
  gap: 0px 25px;
}

.reviews__item {
  flex-basis: 280px;
}

.reviews__text {
  font-size: 16px;
  font-style: italic;
  line-height: normal;
  margin-bottom: 10px;
}

.reviews__name {
  font-weight: 600;
  font-style: normal;
}

/* class when it is necessary to hide the block */
/* .reviews__item.reviews__item--hide {
  display: none;
} */

/*    ----------------------------section main-blog----------------------- */

.main-blog {
  margin-bottom: 150px;
}

.main-blog__title {
  margin-bottom: 60px;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.main-blog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 58px;
}

.main-blog__item {
  flex-basis: 542px;
  display: flex;
  gap: 0px 20px;
}

.main-blog__item-content {
  display: flex;
  flex-direction: column;
}
.main-blog__item-title {
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  min-height: 86px;
  margin-bottom: 10px;
}

.main-blog__item-author {
  font-size: 13px;
  line-height: normal;
  margin-bottom: 48px;
}

.main-blog__item-link {
  margin-top: auto;
  position: relative;
  font-size: 13px;
  line-height: normal;
}

.main-blog__item-link::after {
  content: "";
  position: absolute;
  background-image: url(../images/arrow.svg);
  width: 5px;
  height: 10px;
  margin-left: 8px;
  bottom: 3px;
}

.main-blog__link {
  line-height: normal;
  padding: 12px 40px;
  display: flex;
  justify-content: center;
  margin: 60px auto 0px;
  border: 1px solid #151618;
  background: #fff;
  max-width: 152px;
  cursor: pointer;
}

/*    ----------------------------section mailing-list----------------------- */
.mailing-list {
  padding: 100px 0px;
  background-color: #f7f2ea;
  margin-bottom: 150px;
  background-image: url(..//images/bg-tea.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.mailing-list__title {
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.mailing-list__text {
  flex-basis: 580px;
}

.mailing-list__inner {
  display: flex;
  gap: 60px 40px;
}

.mailing-list__form {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 580px;
}

.mailing-list__email::placeholder {
  color: #b8b58b;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}
.mailing-list__email {
  border: none;
  width: 438px;
  border-bottom: 1px solid #b8b58b;
  background-color: transparent;
  padding: 3px 15px;
  margin-right: 25px;
  color: #151618;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.mailing-list__btn {
  padding: 12px 40px;
  max-width: 116px;
  background-color: #fff;
  border: 1px solid #151618;
  cursor: pointer;
}

.checkbox__label {
  margin-top: 16px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding-left: 20px;
}

.checkbox-style {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #151618;
  background-color: #fff;
  margin-top: 5px;
}

.checkbox:checked + .checkbox-style::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #151618;
  top: 1px;
  left: 1px;
}

.checkbox__text {
  font-size: 13px;
  line-height: normal;
  margin-left: 20px;
}

/*    ----------------------------section priorities ----------------------- */
.priorities__title {
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
  text-align: center;
}

.priorities__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 49px;
  text-align: center;
  justify-content: center;
}

.priorities__subtitle {
  font-size: 30px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.priorities__text {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}

/*    ----------------------------section footer ----------------------- */
.footer {
  margin-top: 150px;
  padding: 100px 0px 20px;
  background-color: #f7f2ea;
}
.footer__inner {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px 40px;
}
/* calculation grid-template-columns: column width + column spacing - gap 
grid-template-columns: 270px 270px 270px 270px; => repeat(4, 1fr);
*/

.footer__products-title,
.footer__company-title,
.footer__contacts-title {
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.footer__products-item,
.footer__company-item:not(:last-child) {
  font-size: 16px;
  line-height: normal;
  padding-bottom: 20px;
}

.footer__blockquote-text {
  font-size: 16px;
  font-style: italic;
  line-height: normal;
  margin-top: 80px;
  margin-bottom: 20px;
}

.footer__blockquote-author {
  font-size: 12px;
  max-width: 130px;
}

.footer__blockquote-author span {
  display: block;
}

.footer__contacts-text {
  font-size: 13px;
  line-height: normal;
  margin-bottom: 20px;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
}

.footer__nav-contacts {
  margin-top: 20px;
}

.footer__nav-logo {
  margin-right: 40px;
}

.footer__nav-phone,
.footer__nav-email {
  font-size: 13px;
  line-height: normal;
  margin-bottom: 20px;
  padding-left: 32px;
  position: relative;
  display: block;
}

.footer__nav-email::before {
  position: absolute;
  content: "";
  left: 0;
  width: 22px;
  height: 16px;
  background-image: url(../images/mail.svg);
}

.footer__nav-phone::before {
  position: absolute;
  content: "";
  left: 0;
  top: 2px;
  width: 21px;
  height: 21px;
  background-image: url(../images/phone.svg);
}

.footer__social {
  margin-top: 40px;
  margin-left: 100px;
}

.footer__social-list {
  display: flex;
  align-items: center;
  gap: 0px 20px;
}

.footer__social-link {
  display: grid;
}

.footer__bottom {
  display: flex;
}

.footer__copy {
  font-size: 16px;
  line-height: normal;
  font-style: normal;
  margin-right: 192px;
}

.partners__logo {
  display: flex;
  align-items: center;
  gap: 0px 20px;
}
/*    ----------------------------@media----------------------- */
@media (max-width: 1000px) {
  .logo {
    margin-bottom: 0;
  }
  .headder__inner {
    min-height: auto;
  }
  .user-actions__item-search {
    margin-left: 30px;
  }
  .menu {
    margin-right: auto;
  }
  .menu__list {
    margin-left: 65px;
  }
  .blockquote__text {
    margin: 120px auto 135px;
  }
  .assortment {
    margin-bottom: 120px;
  }
  .assortment__title {
    margin-bottom: 30px;
  }
  .assortment__list {
    gap: 0px;
  }
  .reviews {
    margin-bottom: 120px;
  }
  .reviews__item:last-child {
    display: none;
  }
  .main-blog {
    margin-bottom: 120px;
  }
  .main-blog__list {
    gap: 67px 20px;
  }
  .main-blog__item {
    flex-basis: 460px;
  }
  .main-blog__img {
    max-width: 230px;
  }
  .mailing-list {
    padding: 60px 0px;
    margin-bottom: 120px;
  }
  .mailing-list__title {
    text-align: center;
  }
  .mailing-list__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .mailing-list__text {
    text-align: center;
    flex-basis: 780px;
  }
  .priorities__list {
    gap: 30px 210px;
  }
}

@media (max-width: 860px) {
  .mobile-nav,
  .menu__close {
    display: block;
  }
  .menu {
    order: -1;
    margin-right: 0px;
  }
  .menu__list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 480px;
    margin: 0 auto;
    background-color: #fff;
    display: block;
    text-align: center;
    padding-top: 60px;
    transition: transform 0.7s ease;
  }
  .menu__list.menu__list--open {
    transform: translateY(0%);
  }
  .menu__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu__item {
    margin-bottom: 30px;
    font-family: "Cormorant", serif;
    color: #000;
    font-size: 24px;
    line-height: normal;
  }
  .mobile-menu {
    padding-top: 60px;
    margin: 60px 30px;
    border-top: 2px solid #f7f2ea;
  }
  .mobile-menu__item {
    margin-bottom: 35px;
  }
  .mobile-actions {
    background-color: #f7f2ea;
    height: 60px;
    padding: 0px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu__btn {
    display: flex;
  }
  .logo {
    margin-left: auto;
    margin-right: 154px;
  }
}

@media (max-width: 768px) {
  .headder__inner {
    padding-right: 64px;
    padding-left: 64px;
  }
  .blockquote__text {
    max-width: 640px;
  }
  .assortment {
    margin-bottom: 60px;
  }
  .assortment__title {
    margin-bottom: 40px;
  }
  .assortment__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .reviews {
    padding: 60px 0px 80px;
    margin-bottom: 120px;
  }
  .reviews__item:last-child {
    display: block;
  }
  .reviews__list {
    flex-wrap: wrap;
    gap: 30px 75px;
  }
  .main-blog__item {
    flex-basis: 542px;
  }
  .main-blog__item:nth-child(even) {
    margin-left: 98px;
  }
  .main-blog__list {
    gap: 30px 20px;
  }
  .main-blog__img {
    max-width: 270px;
  }
  .mailing-list__text {
    flex-basis: 640px;
  }
  .priorities__list {
    gap: 30px 133px;
  }
}

@media (max-width: 680px) {
  .container {
    padding: 0px 10px 0px;
  }
  .headder__inner {
    padding-right: 0px;
    padding-left: 0px;
  }
  .top__title {
    font-size: 40px;
    line-height: normal;
  }
  .blockquote__text {
    font-size: 16px;
    max-width: 376px;
    margin: 60px auto 60px;
  }
  .main-blog__item:nth-child(even) {
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .menu__list {
    width: 360px;
  }

  .logo {
    margin-right: 80px;
  }
  .logo img {
    width: 40px;
  }

  .assortment__title {
    margin-bottom: 30px;
  }

  .reviews {
    padding: 50px 0px;
    margin-bottom: 60px;
  }
  .reviews__title {
    margin-bottom: 50px;
  }
  .reviews__list {
    gap: 30px 20px;
  }
  .reviews__item {
    flex-basis: 220px;
  }
  .main-blog {
    margin-bottom: 60px;
  }
  .main-blog__img {
    max-width: 230px;
  }
  .main-blog__item-author {
    margin-bottom: 30px;
  }
  .mailing-list {
    padding: 50px 0px;
    margin-bottom: 60px;
  }
  .mailing-list__title {
    margin-bottom: 30px;
  }
  .mailing-list__text {
    flex-basis: 100%;
    font-size: 13px;
    line-height: normal;
  }
  .mailing-list__inner {
    gap: 30px 0px;
  }
  .mailing-list__email {
    margin-right: 20px;
    width: 324px;
  }
  .checkbox__label {
    margin-top: 12px;
  }
  .priorities__title {
    margin-bottom: 30px;
  }
  .priorities__list {
    gap: 50px 0px;
  }
}

@media (max-width: 360px) {
  .headder__inner {
    padding: 10px 0px;
  }
  .logo {
    margin-right: 50px;
  }
  .user-actions__item-search {
    margin-left: 0px;
  }
  .top__inner {
    min-height: 367px;
  }
  .top__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .top__text {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .blockquote__text {
    max-width: 340px;
    margin: 70px auto 80px;
  }

  .assortment__title {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .assortment__img {
    max-width: 170px;
  }
  .reviews {
    margin-bottom: 50px;
  }
  .reviews__title {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .reviews__item {
    flex-basis: 100%;
  }
  .reviews__item:last-child,
  .reviews__item:first-child {
    display: none;
  }
  .main-blog {
    margin-bottom: 50px;
  }
  .main-blog__list {
    justify-content: center;
  }
  .main-blog__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .main-blog__item {
    max-width: 270px;
    flex-wrap: wrap;
    gap: 10px 0px;
  }
  .main-blog__item-title {
    min-height: auto;
  }
  .main-blog__img {
    max-width: 100%;
  }
  .main-blog__item-title {
    margin-bottom: 5px;
  }
  .main-blog__item-author {
    margin-bottom: 10px;
  }
  .main-blog__item:nth-child(even) {
    display: none;
  }
  .main-blog__link {
    margin: 34px auto 0;
  }
  .mailing-list {
    margin-bottom: 50px;
  }
  .mailing-list__title {
    font-size: 24px;
  }
  .mailing-list__email {
    margin-right: 19px;
    width: 205px;
  }
  .priorities__list {
    gap: 40px 60px;
  }
  .priorities__item {
    max-width: 100%;
  }
  .priorities__title {
    font-size: 24px;
  }
  .priorities__subtitle {
    font-size: 20px;
    line-height: 1.5;
  }
  .priorities__text {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
